include MANIFEST.in LICENSE.txt README.md VERSION
include cxx/*.cxx cxx/*.h
include doc/*.rst doc/_static/custom.css doc/_static/QPtomographer.svg doc/conf.py doc/Makefile doc/make.bat
exclude examples examples/* examples/*/* examples/*/*/*
include setup.py
